#{$id}.#{$cls}widget
	width: 300px
	max-width: 80%

	// position
	position: fixed

	&.#{$cls}--right
		right: 10px
	&.#{$cls}--left
		left: 10px
	&.#{$cls}--top
		top: 20%
	&.#{$cls}--middle
		top: 50%
		transform: translate3D(0, -50%, 0)
	&.#{$cls}--bottom
		bottom: 20%

	// not active
	&:not(.#{$cls}--active)
		@extend .fe
