#{$id}
	&.#{$cls}widget_form_wrapper
		width: $widget_width
		max-width: 80%
		font-size: $fs

		// 
		// position
		//

		position: fixed

		// top bottom
		.#{$cls}--widget_side__top &
			top: $p
		.#{$cls}--widget_side__bottom &
			bottom: $p

		.#{$cls}--widget_position__left &
			left: 20%
		.#{$cls}--widget_position__center &
			left: 50%
			transform: translate3D(-50%, 0, 0)
		.#{$cls}--widget_position__right &
			right: 20%

		// left right
		.#{$cls}--widget_side__right &
			right: $p
		.#{$cls}--widget_side__left &
			left: $p

		.#{$cls}--widget_position__top &
			top: 20%
		.#{$cls}--widget_position__middle &
			top: 50%
			transform: translate3D(0, -50%, 0)
		.#{$cls}--widget_position__bottom &
			bottom: 20%
