.card
	position: relative
	z-index: $z

	// vars
	background-color: $bc
	color: $fc
	font-size: $fs
	border-radius: $brad

	padding: $card_p

	#{$id}.#{$cls}--shadow &
		box-shadow: 0 0 12px 0 rgba($fc_rgb, .50), 0 2px 4px 0 rgba($bc_rgb, .25)

.fc
	display: flex
	justify-content: center
	align-items: center

	gap: $pl

.fe
	display: flex
	justify-content: flex-end
	align-items: center

	gap: $pl

.fs
	display: flex
	justify-content: flex-start
	align-items: center

	gap: $pl

.column
	flex-direction: column
