body
	background-color: #222222
	color: #cecece

#{$id}
	&.#{$cls}widget:not(.#{$cls}--active)
		#{$id}#{$id}.#{$cls}widget_form
			display: none

#{$id}
	&.#{$cls}window:not(.#{$cls}--active),
	&.#{$cls}button.#{$cls}--disable,
	&.#{$cls}error:not(.#{$cls}--active)
		display: none

#{$id}.#{$cls}widget
	background-color: $bc
	color: $fc
	font-size: $fs
	border-radius: $brad
