#{$id}
	//
	// template
	//

	&.#{$cls}widget_button
		cursor: pointer

	//
	// open
	//

	&.#{$cls}widget_button.#{$cls}--open
		@extend .card
		@extend .fc

		padding: $p
		border-radius: 12px
		width: 30px
		height: 30px

		// not active
		.#{$cls}widget.#{$cls}--active &
			display: none

	//
	// close
	//

	&.#{$cls}widget_button.#{$cls}--close
		position: absolute
		width: 50px
		height: 50px

		color: $bc
		opacity: $op

		// sides
		.#{$cls}--side_bottom &,
		.#{$cls}--side_top &
			top: 0
			right: -50px

		.#{$cls}--side_left &,
		.#{$cls}--side_right &
			top: -50px
			right: 0

		&:hover
			opacity: 1
