#{$id}
	&.#{$cls}widget_button.#{$cls}--open
		@extend .#{$cls}card
		@extend .#{$cls}fc

		padding: $p
		width: fit-content
		height: $widget_button_icon_size

		.#{$cls}--widget_side__top,
		.#{$cls}--widget_side__bottom
			margin: 0 auto

		.#{$cls}--widget_side__left,
		.#{$cls}--widget_side__right

		// svg
		svg
			height: $widget_button_icon_size
			width: $widget_button_icon_size
